<div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <img src="../../../assets/spotify.png" class="banner-image">
        
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-4 border-10">
                image
            </div>
            <div class="col-4 border-10">
                image
            </div>
          </div>
          <br>
          <div class="row justify-content-around">
            <div class="col-4 border-10">
                image
            </div>
            <div class="col-4 border-10">
                image
            </div>
          </div>
    </div>
</div>